on:
  workflow_dispatch:
jobs:
  release:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      
      - name: Install dependencies
        run: npm i
      
      - name: Run semantic release
        env:
          GITHUB_TOKEN: ${{ secrets.G_TOKEN }}
        run: npx semantic-release
